// .showTitle {
//   opacity: 1;
//   transition: opacity 0 1500ms;
// }

.content {
  .video {
    display: flex;
    justify-content: center;
    animation: 3s anim-video ease-out;
  }

  .definition {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    animation: 3s anim-text ease-out;

    .text-23px {
      font-size: 23px;
    }
  }

  .text {
    font-weight: 300;
    animation: 3s anim-text ease-out;
  }
  

  .text-container {
    width: 100%;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      text-align: center;
      font-size: 32px;
      margin-bottom: 64px;
      animation: 3s anim-title ease-out;
    }

    .text {
      width: 750px;
      text-align: center;
    }
  }

  .prestation {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@keyframes anim-video {
  0% {
    opacity: 0;
    // transform: translateY(80%);
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    // transform: translateY(0%);
  }
  100% {
    opacity: 1;
    // transform: translateY(0%);
  }
}


@keyframes anim-title {
  0% {
    opacity: 0;
    // transform: translateY(80%);
  }
  45% {
    opacity: 0;
  }
  85% {
    opacity: 1;
    // transform: translateY(0%);
  }
  100% {
    opacity: 1;
    // transform: translateY(0%);
  }
}

@keyframes anim-text {
  0% {
    opacity: 0;
    // transform: translateY(80%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: translateY(0%);
  }
}