$neon-white: #f7fff1;
$neon-yellow: #f8f824;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;

  .logo {
    position: relative;
    display: flex;
    justify-content: center;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   background-color: #000;
    //   top: 105%;
    //   left: 10%;
    //   width: 80%;
    //   height: 50%;

    //   transform: perspective(1rem) rotateX(20deg) scale(1, 0.25);
    //   filter: blur(6rem);
    //   opacity: 0.8;
    //   // animation-delay: 20000ms;
    //   // animation: 2s shadow-blink 2s forwards;
    // }

    &:hover {
      img {
        cursor: pointer;
      }
    }

    // &:hover::before {
    //   opacity: 1;
    // }

    img {
      position: relative;
      // animation-delay: 20000ms;
      // animation: 2s logo-blink 2s forwards;


    }
  }

  .leave {
    transform: scale(55);
    transition: transform 3000ms;
    // width: 10px;
    // height: 10px;
    // border-radius: 50%;
    // transform: scale(300);
    // transition: transform 3000ms;
    // background:#fff;
    // line-height:100px;
    // vertical-align:middle;
    // text-align:center;
    // font-size:2em;
  }
}

@keyframes logo-blink {
  5%, 15%, 25%, 30%, 40% {
    filter: none;
  }
  
  0%, 10%, 20%, 50%, 100% {
    filter: 
    drop-shadow(0 -0.30rem 0.30rem $neon-white);
  }
}

@keyframes shadow-blink {
  5%, 15%, 25%, 30%, 40% {
    background-color: #000;
  }
  
  0%, 10%, 20%, 50%, 100% {
    background-color: $neon-white;
  }
}