@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  
}

a:hover {
  text-decoration: underline;
}
