.container {
  display: flex;
  justify-content: center;

  .button:not(:last-child) {
    margin-right: 32px;
  }
  .button {
    text-align: center;
    animation: 2s anim-lineUp ease-out;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}