.container {
  display: flex;
  justify-content: center;

  .button:not(:last-child) {
    margin-right: 32px;
  }
  .button {
    text-align: center;
    animation: 3s anim-lineUp ease-out;
    text-decoration: none;
    color: #000;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      // transform: translateY(80%);
    }
    15% {
      opacity: 0;
    }
    65% {
      opacity: 1;
      // transform: translateY(0%);
    }
    100% {
      opacity: 1;
      // transform: translateY(0%);
    }
  }
}