.container {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  .card {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 16px;
    margin: 8px;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
  
    .description {
      font-size: 16px;
      font-weight: 300;
    }
  
    .price {
      font-size: 18px;
      font-weight: 300;
    }
  }
}
